.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  width: calc(100% - 2rem);
  padding: 1rem 0.5rem 1rem;
  flex: 1;
}

@media (min-width: 768px) {
  .container {
    width: 70%;
    min-width: 736px;
    margin: 0 auto;
  }
}
